html, body {
    font-family: 'PF Encore Sans Pro', sans-serif;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.pink {
    color: #fc635e;
}

/***** Fonts templates ******/
.medium {
    font-family: 'PF Encore Sans Pro Medium';
}
.light {
    font-family: 'PF Encore Sans Pro Light';
}
.bold {
    font-family: 'PF Encore Sans Pro Bold';
}
.thin {
    font-family: 'PF Encore Sans Pro Thin';
}
/******************************/


/*
*** header
*/

.header {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logo_image:hover, .header__logo_name:hover {
    cursor: pointer;
}
.header__logo_image {
    position: relative;
    width: 70px; 
    height: 40.41px;
    background-color: #fc645f;
    margin: 20.21px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo_image:before,
.header__logo_image:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.header__logo_image:before {
    bottom: 100%;
    border-bottom: 20.21px solid #fc645f;
}

.header__logo_image:after {
    top: 100%;
    width: 0;
    border-top: 20.21px solid #fc645f;
}
.header__logo_image > span {
    text-align: center;
    color: #0c252d;
    font-size: 35.7px;
}
.header__logo_name {
    text-transform: capitalize;
    font-size: 24.08px;
    margin-left: 17px;
    color: #fff;
}
.header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__navigation > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__navigation > ul > :nth-child(2) {
    margin: 0 45px;
}
.header__navigation > ul > :nth-child(3) {
    margin-right: 45px;
}
.header__navigation > ul > li > a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 0 #fc635e;
    transition: color 0.4s linear, border 0.2s linear;
}
.header__navigation > ul > li > a:hover {
    color: #fc635e;
    border-bottom: solid 4px #fc635e;
}



/*
*** main
*/

/*
* section 1,, greeting
*/
.greeting {
    background-image: url("../images/greetingbg.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.greeting__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.greeting__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
}
.greeting__titles_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.titles__heading_text {
    font-size: 51px;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}
.titles__heading_line {
    background-color: #4e4c4d;
    width: 10%;
    padding: 3px 0;
}
.greeting__titles_subheading {
    font-size: 24px;
    margin-top: 33px;
}
.greeting__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}
.greeting__button_link {
    color: #fc635e;
    display: block;
    padding: 16px 36px;
    border: solid 2px #fc635e;
    /* border-style: dashed; */
    border-radius: 6px;
    font-size: 24px;
    transition: color 0.3s linear, background-color 0.3s linear;
}
.greeting__button_link:hover {
    color: #fff;
    background-color: #fc635e;
}
.greeting__image {
    position: absolute;
    /* margin-left: 8px; */
    right: -25%;
}
.greeting__image::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 250px;
    /* padding: 100px 35px; */
    /* left: 0; */
    top: 40%;
    /* margin-left: 2px; */
    border-top: dashed 2px grey;
    border-right: dashed 2px grey;
    border-top-right-radius: 25px;
}
.scrollDown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: solid 1px #fc635e;
    font-size: 22px;
    position: absolute;
    bottom: 28px;
    left: calc(50% - 14px);
    color: #fc635e;
    transition: color 0.3s linear, background-color 0.3s linear;
}
.scrollDown:hover {
    color: #fff;
    background-color: #fc635e;
}



/*
* section 2,, what can you receive
*/
.receive {
    padding: 68px 0 94px;
    position: relative;
}
.receive__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.receive__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.receive__titles_heading {
    color: #868686;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 2px #adadad;
    padding-bottom: 13px;
}
.receive__titles_subheading {
    font-size: 20px;
    color: #adadad;
    text-align: center;
    max-width: 550px;
    margin-top: 24px;
    line-height: 1.4;
}
.reveive__services {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 85px;
}
.receive__services_servicebox1, .receive__services_servicebox2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
/***** hexagon 1 ******/
.service__hexagon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 98px; 
    height: 56.58px;
    background-color: #fc635e;
    margin: 28.29px 0;
    border-left: solid 5px #fe8682;
    border-right: solid 5px #fe8682;
}

.service__hexagon1:before,
.service__hexagon1:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 69.30px;
    height: 69.30px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 9.3518px;
}

.service__hexagon1:before {
    top: -34.6482px;
    border-top: solid 7.0711px #fe8682;
    border-right: solid 7.0711px #fe8682;
}

.service__hexagon1:after {
    bottom: -34.6482px;
    border-bottom: solid 7.0711px #fe8682;
    border-left: solid 7.0711px #fe8682;
}  
/**********************/

/***** hexagon 2 ******/
.service__hexagon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 98px; 
    height: 56.58px;
    background-color: #ffffff;
    margin: 28.29px 0;
    border-left: solid 5px #fc635e;
    border-right: solid 5px #fc635e;
}

.service__hexagon2:before,
.service__hexagon2:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 69.30px;
    height: 69.30px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 9.3518px;
}

.service__hexagon2:before {
    top: -34.6482px;
    border-top: solid 7.0711px #fc635e;
    border-right: solid 7.0711px #fc635e;
}

.service__hexagon2:after {
    bottom: -34.6482px;
    border-bottom: solid 7.0711px #fc635e;
    border-left: solid 7.0711px #fc635e;
}
/**********************/

/**** services styling ****/
.receive__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.service__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service__heading {
    position: relative;
    color: #868686;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 22px 0 25px;
    /* padding-bottom: 12px; */
}
.service__heading::after {
    content: "";
    /* position: absolute; */
    padding-top: 12px;
    display: block;
    margin: 0 auto;
    width: 57px;
    border-bottom: 1px solid #adadad;
}
.service__subheading {
    color: #c3c3c3;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
}
.service__hexagon_image > img {
    position: relative;
    z-index: 5;
    width: 100%;
    display: block;
}
/**************************/
.receive__scrollDown {
    bottom: 14px;
}



/*
* section 3,, expand your business
*/
.business {
    padding: 91px 0 100px;
    background-image: url("../images/businessbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.business__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px 0 100px;
    border: solid 9px rgba(128, 128, 128, 0.322);
}
.business__heading {
    font-size: 50.86px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.business__button {
    display: block;
    margin-top: 50px;
    padding: 16px 60px;
    border: solid 2px #fc635e;
    border-radius: 6px;
    color: #fc635e;
    text-align: center;
    text-transform: capitalize;
    font-size: 23.94px;
    transition: color 0.3s linear, background-color 0.3s linear;
}
.business__button:hover {
    color: #fff;
    background-color: #fc635e;
}



/*
* section 4,, process
*/
.process {
    position: relative;
    padding: 50px 0 85px;
}
.porcess__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.porcess__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* clear: both; */
}
.process__titles_heading {
    color: #868686;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 2px #adadad;
    padding-bottom: 13px;
}
.process__titles_subheading {
    font-size: 20px;
    color: #adadad;
    text-align: center;
    max-width: 550px;
    margin-top: 24px;
    line-height: 1.4;
}
.process__steps {
    width: 82%;
    position: relative;
    /* margin-top: 60px; */
    display: block;
    clear: both;
    height: 550px;
    margin: 60px auto 0;
}

/**** step 1 ****/
.process__steps_step1 {
    z-index: 1;
    position: absolute;
    top: 100px;
    width: 170px; 
    height: 98.15px;
    background-color: #ffffff;
    margin: 49.07px 0;
    border-left: solid 1px #b4b4b4;
    border-right: solid 4px #fc635d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* clear: both; */
}

.process__steps_step1:before,
.process__steps_step1:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 120.21px;
    height: 120.21px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 23.8959px;
}


.process__steps_step1:before {
    top: -60.1041px;
    border-top: solid 5.6568px #fc635d;
    border-right: solid 5.6568px #fc635d;
}

.process__steps_step1:after {
    bottom: -60.1041px;
    border-bottom: solid 1.4142px #b4b4b4;
    border-left: solid 1.4142px #b4b4b4;
}

.step__heading {
    position: relative;
    color: #868686;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 2px #adadad;
    padding-bottom: 7px;
    z-index: 2;
}
.step__subheading {
    position: relative;
    font-size: 15px;
    color: #adadad;
    text-align: center;
    /* max-width: 132px; */
    margin-top: 16px;
    line-height: 1.4;
    z-index: 2;
}
.step1__logo {
    position: absolute;
    z-index: 3;
    padding: 7px 9px 6px;
    background-color: #fc635e;
    border-radius: 50%;
    top: -20%;
    left: -11%;
}
.step1__logo > img {
    display: block;
    width: 100%;
}
/**********************/

/**** step img ****/
.process__steps_img {
    position: absolute;
    top: 247px;
    left: 39.5px;
    width: 260px; 
    height: 150.11px;
    margin: 75.06px 0;
    background-image: url(https://images.unsplash.com/photo-1584048333538-9522c04a735f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80);
    background-size: auto 300.2221px;
    background-position: center;
    /* margin-bottom: -38.3%; */
    /* margin-top: 56.2%;
    margin-left: -15.5%; */
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 183.85px;
    height: 183.85px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 38.08px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 260.0000px;
    height: 150.1110699893027px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-75.0555px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-75.0555px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-75.0555px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -91.9239px;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -91.9239px;
}

.hexBottom:after {
    background-position: center bottom;
}

.process__steps_img:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 260.0000px;
    height: 150.1111px;
    z-index: 2;
    background: inherit;
}
.line {
    z-index: 3;
    position: absolute;
    width: 110px;
    display: block;
    background-color: #fc635d;
    height: 5px;
    transform: rotate(29.6deg);
    left: 47%;
    top: -35%;
}
/**************************/

/**** step 2 *****/
.process__steps_step2 {
    z-index: 1;
    top: 154px;
    left: 265px;
    position: absolute;
    width: 170px; 
    height: 98.15px;
    background-color: #ffffff;
    margin: 49.07px 0;
    border-left: solid 4px #fc635d;
    border-right: solid 1px #b4b4b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.process__steps_step2:before,
.process__steps_step2:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 120.21px;
    height: 120.21px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 20.8959px;
}


.process__steps_step2:before {
    top: -60.1041px;
    border-top: solid 5.6568px #fc635d;
    border-right: solid 1.4142px #b4b4b4;
}

.process__steps_step2:after {
    bottom: -60.1041px;
    border-bottom: solid 1.4142px #b4b4b4;
    border-left: solid 1.4142px #b4b4b4;
}
.step2__logo {
    position: absolute;
    z-index: 3;
    padding: 9px 7px 7px;
    background-color: #fc635e;
    border-radius: 50%;
    top: -20%;
    left: -11%;
}
.step2__logo > img {
    display: block;
    width: 100%;
}
/*****************/

/******* step 3 ********/
.process__steps_step3 {
    position: absolute;
    top: 8px;
    left: 351px;
    width: 170px; 
    height: 98.15px;
    background-color: #ffffff;
    margin: 49.07px 0;
    border-left: solid 1px #b4b4b4;
    border-right: solid 1px #b4b4b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.process__steps_step3:before,
.process__steps_step3:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 120.21px;
    height: 120.21px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 23.8959px;
}

.process__steps_step3:before {
    top: -60.1041px;
    border-top: solid 1.4142px #b4b4b4;
    border-right: solid 1.4142px #b4b4b4;
}

.process__steps_step3:after {
    bottom: -60.1041px;
    border-bottom: solid 1.4142px #b4b4b4;
    border-left: solid 1.4142px #b4b4b4;
}

.step3__logo {
    position: absolute;
    z-index: 3;
    padding: 8px 9px;
    background-color: #fc635e;
    border-radius: 50%;
    top: -20%;
    left: -11%;
}
.step3__logo > img {
    display: block;
    width: 100%;
}
/***********************/

/****** step 4 *********/
.process__steps_step4 {
    position: absolute;
    top: 85px;
    left: 512px;
    width: 255px; 
    height: 147.22px;
    background-color: #ffffff;
    margin: 73.61px 0;
    border-left: solid 1px #b4b4b4;
    border-right: solid 4px #fc635d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.process__steps_step4:before,
.process__steps_step4:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 180.31px;
    height: 180.31px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 36.3439px;
}

.process__steps_step4:before {
    top: -90.1561px;
    border-top: solid 5.6568px #fc635d;
    border-right: solid 5.6568px #fc635d;
}

.process__steps_step4:after {
    bottom: -90.1561px;
    border-bottom: solid 5.6568px #fc635d;
    border-left: solid 1.4142px #b4b4b4;
}

.step4__logo {
    position: absolute;
    z-index: 3;
    padding: 8px 7px;
    background-color: #fc635e;
    border-radius: 50%;
    top: -14%;
    left: -7%;
}
.step4__logo > img {
    display: block;
    width: 100%;
}
.step4__logo2 {
    position: absolute;
    top: 130%;
    z-index: 3;
    padding: 7px 10px;
    background-color: #fff;
    border: solid 3px #fc635e;
    border-radius: 50%;
}
/***********************/
.steps__scrollDown {
    bottom: 20px;
}



/*
* section 5,, what do we do
*/
.wedo {
    padding: 60px 0 96px;
    background-color: #f2f2f2;
    position: relative;
}
.wedo__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.wedo__heading {
    color: #868686;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #adadad;
    font-size: 28px;
    padding-bottom: 13px;
}
.wedo__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 68px;
}
.wedo__desc_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}
.desc__texts_heading {
    color: #868686;
    font-size: 28px;
    text-transform: uppercase;
    padding: 8px 0 8px 12px;
    border-left: solid 10px #fc635e;
}
.desc__texts_par {
    margin-top: 20px;
    color: #9e9898;
    font-size: 15px;
    line-height: 1.7;
}
.wedo__btn {
    margin-top: 42px;
    display: block;
    background-color: #fc635e;
    color: #fff;
    font-size: 20px;
    padding: 15px 32px;
    border-radius: 5px;
}
.wedo__desc_image {
    width: 53%;
}
.wedo__desc_image > img {
    display: block;
    width: 100%;
}
.wedo__scrollDown {
    bottom: 17px;
}



/*
* section 6,, advertising
*/
.adv {
    position: relative;
    padding: 132px 0 150px;
}
.adv__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.adv__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 45%;
}
.adv__desc_heading {
    color: #868686;
    font-size: 28px;
    text-transform: uppercase;
    padding: 8px 12px 8px 0;
    border-right: solid 10px #fc635e;
}
.adv__desc_par {
    margin-top: 20px;
    color: #9e9898;
    font-size: 15px;
    line-height: 1.7;
    text-align: right;
}
.adv__image {
    width: 53%;
}
.adv__image > img {
    display: block;
    width: 100%;
}



/*
* section 7,, marketing kit
*/
.marketing {
    position: relative;
    padding: 142px 0 160px;
    background-color: #f2f2f2;
}
.marketing__content { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.marketing__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}
.marketing__desc_heading {
    color: #868686;
    font-size: 28px;
    text-transform: uppercase;
    padding: 8px 0 8px 12px;
    border-left: solid 10px #fc635e;
}
.marketing__desc_par {
    margin-top: 20px;
    color: #9e9898;
    font-size: 15px;
    line-height: 1.7;
}
.marketing__image {
    width: 53%;
}
.marketing__image > img {
    display: block;
    width: 100%;
}



/*
* section 8,, portfolio
*/
.portfolio {
    position: relative;
    padding: 81px 0 67px;
}
.portfolio__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.portfolio__heading {
    color: #868686;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #adadad;
    font-size: 28px;
    padding-bottom: 13px;
}
.portfolio__nav {
    margin-top: 40px;
    padding: 24px 13px;
    border-top: solid 1px #adadad;
    border-bottom: solid 1px #adadad;
    width: 100%;
}
.portfolio__nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.portfolio__nav ul li a {
    font-size: 20px;
    color: #fc635e;
    text-transform: uppercase;
    text-align: center;
}
.portfolio__gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 47px;
}
.portfolio__gallery_box1,
.portfolio__gallery_box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
}
.gallery__imagebox1,
.gallery__imagebox2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.gallery__imagebox1{
    margin-top: 12px;
}
.gallery__imagebox1 > :nth-child(1) {
    width: 46%;
}
.gallery__imagebox1 > :nth-child(2) {
    width: 51%;
}
.gallery__imagebox2 {
    margin-bottom: 12px;
}
.gallery__imagebox2 > :nth-child(1) {
    width: 47%;
}
.gallery__imagebox2 > :nth-child(2) {
    width: 49%;
}
.portfolio__gallery img {
    display: block;
    width: 100%;
}
.portfolio__button {
    margin-top: 59px;
    text-align: center;
    font-size: 20px;
    color: #fc635e;
    padding: 22px 12px;
    border: solid 1px #fc635e;
    border-radius: 7px;
    transition: color 0.4s linear, background-color 0.4s linear;
}
.portfolio__button:hover {
    background-color: #fc635e;
    color: #fff;
}